.App {
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}

.board{
  display:inline-block;
  margin-top:15px;
  line-height:1px;
  border:1px solid #555;
  border-radius:20px;
  padding:10px 10px 35px 10px;
  background-color:#d9d9d9;
}

.field{
  width:18px;
  height:18px;
  margin:1px !important;
  padding:0 !important;
  background-color:#555;
  display:inline-block;
  cursor: default;
  position:relative;
  top:0 !important;
  left:0 !important;
  background-size:13px;
  background-position:4px 2px;
  background-repeat:no-repeat;
}

.field:hover{
  transform: scale(1.1);
  transition: all .2s linear;
  background-color:#808080;
}

.gameOver .field:hover{
  background-color:#555;
  transform:none;
  transition:none;
}


.field.revealed:hover{
  transform: none;
  transition: none;
  background-color:#999;
  color:#999;
}

.field.revealed{
  transform: none;
  transition: none;
  background-color:#999;
  color:#999;
}

.field.marked, .field.marked.revealed-bomb, .field.marked:hover, .gameOver .field.marked.revealed-bomb, .gameOver .field.marked.revealed-bomb:hover{
  background-image:url(https://img.icons8.com/officel/30/000000/filled-flag.png);
  background-size:15px;
  background-position:2.5px 1.5px;
}

.field.revealed-bomb, .gameOver .field.revealed-bomb, .gameOver .field.revealed-bomb:hover{
  background-image:url(https://img.icons8.com/emoji/48/000000/bomb-emoji.png);
  background-size:15px;
  background-position:1.5px;
  background-color:#777;
}

.field.bombs1{
  background-image:url(https://i.ibb.co/v4RGGxm/1.png);
}
.field.bombs2{
  background-image:url(https://i.ibb.co/6HRxnzS/2.png);
  background-position:3px 2px;
}
.field.bombs3{
  background-image:url(https://i.ibb.co/rKrrqwd/3.png);
  background-position:3px 1.5px;
}
.field.bombs4{
  background-image:url(https://i.ibb.co/gWdRKhX/4.png);
  background-position:3px 2px;
}
.field.bombs5{
  background-image:url(https://i.ibb.co/9sGzNR6/5.png);
  background-position:3px 2.5px;
}
.field.bombs6{
  background-image:url(https://i.ibb.co/VtyPBdh/6.png);
}
.field.bombs7{
  background-image:url(https://i.ibb.co/hYfDLK9/7.png);
    background-position:3px 1.5px;
}
.field.bombs8{
  background-image:url(https://i.ibb.co/sb7stjd/8.png);
  background-size:11px;
  background-position:4px 1.5px;
}

#bombCount, #xSize, #ySize{
  width:40px;
  margin-right:7px;
  margin-left:7px;
  margin-top:25px;
}

.homePage, .newGame{
  cursor:pointer;
}

button{
  width:150px;
  border-radius:10px;
  border-color:aliceblue;
  background-color:aquamarine;
}
button:hover{
  transform: scale(1.15);
}


.winMessage{
  background-color:rgba(0,100,100,0.9);
  color:#cccccc;
  position:relative;
  margin:auto;
  margin-bottom:-75px;
  text-align:center;
  width:415px;
}


.gameOverMessage{
  background-color:rgba(100,0,0,0.9);
  color:#cccccc;
  position:relative;
  margin:auto;
  margin-bottom:-75px;
  text-align:center;
  width:600px;
}
.clicked-bomb.revealed-bomb, .gameOver .clicked-bomb.revealed-bomb{
  background-color:rgb(100, 0, 0);
}
.clicked-bomb.revaled-bomb:hover, .gameOver .clicked-bomb.revealed-bomb:hover{
  background-color:rgb(100, 0, 0);
}

.icon{
  background-color:rgba(0,0,0,0);
  background-size:22px;
  height:25px;
  margin:1px !important;
  padding:0 !important;
  display:inline-block;
  cursor: default;
  position:relative;
  top:0 !important;
  left:0 !important;
  background-repeat:no-repeat;
  padding-left:10px !important;
}
icon:hover{
  transform:none;
  transition:none;
  background-color:rgba(0,0,0,0);
}
.time-i.icon{
  background-image:url(https://img.icons8.com/office/16/000000/hourglass-sand-bottom.png);
}
.marked-i.icon{
  background-image:url(https://img.icons8.com/officel/30/000000/filled-flag.png);
}

.hide{
  position:absolute;
  margin:0;
  padding:0;
  bottom:5px;
  right:5px;
  font-size:10px;
  color:#fff;
  line-height:10px;
  height:10px;
}

.hide:hover{
  cursor:pointer;
  color:#808080;
}
